PAYPAL_CLIENT_ID=tu_client_id
PAYPAL_SECRET=tu_secret
PAYPAL_SANDBOX=true
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4cWpocWttemhycmV5c3ZkeWNsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjk3MjM0NiwiZXhwIjoyMDk4NTQ4MzQ2fQ.sGssxoCQ3Nu9XwM8nfK6m45W9LKvWPQBNRkyPp0zI7c
